 #user_data{
        display: flex;
        flex-wrap: wrap;
    }
.card{
    width: 250px;
    border: 2px solid brown;
    margin: 2px;
    padding: 2px;
    text-align: center;
    background-color: beige;
    color: crimson;
}
html,body{
    margin-left: 3%;
}
h1{
    text-align: center;
    color: crimson;
    font-size: 35px;
}